.modal1 input[type="text"],
.modal1 input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.modal1 button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.modal1 button:hover {
  opacity: 0.8;
}

.modal1 .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.modal1 .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.modal1 img.avatar {
  width: 40%;
  border-radius: 50%;
}

.modal1 .container1 {
  padding: 16px;
}

.modal1 span.psw {
  float: right;
  padding-top: 16px;
}

.modal1 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content1 {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 30%;
}

.modal1 .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.modal1 .close:hover,
.modal1 .close:focus {
  color: red;
  cursor: pointer;
}

.modal1 .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

#id01 a, label{
  color: #000;
}


@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
